











@media screen and (max-width:767px){
  #about .section03 .contents .p3 {    width: 95%;  }
  #about .section03 .contents .flexBox .item .p1 {    width: 52.5vw;  }
  #about .section05 .contents .flexBox {   flex-direction: column; margin-bottom: 10.42vw;}
  #about .section05 .contents .flexBox .dl { margin-bottom: 3.5vw; color: #626262; font-weight: 700;}
  #about .section05 .contents .flexBox .dr {width: 100%; font-size: 4.3vw;}
  #about .section05 .contents .flexBox .dr .p1 span{color: #c5c5c5; }
  #about .section05 .contents .flexBox .dr .p2{color: #ececec; }

  #program .section02 .contents .flexBox .textBox .p03 {  width: 100%; text-indent: -4.04vw;  padding-left: 3.04vw;}
  #program .section02 .contents .flexBox .textBox .p03 span {  line-height: 5.38vw;  }

  #participation .section02 .contentsBox .rightBox .item .p4{width: 75vw;}
  #participation .section02 .contentsBox .rightBox .p4 + .p4 {    margin-top: 3vw;}
  #participation .section02 .contentsBox .rightBox .item:nth-child(1) .p4:nth-child(3) { text-indent: -15px;   padding-left: 15px;}
  #participation .section02 .contentsBox .rightBox .item:nth-child(2) .p4:nth-child(2) { text-indent: -15px;   padding-left: 15px;}
  #participation .section02 .contentsBox .rightBox .item:nth-child(3) .p4:nth-child(2) { text-indent: -15px;   padding-left: 15px;}
  #participation .section03 .flexBox .item .p2 {width: 69.5vw;text-indent: -15px;   padding-left: 15px;}
  #participation .section03 .flexBox .item .p1 {  width: 70vw;}
  #participation .section03 { height: auto;}
  #participation .section04 .contents02 .flexBox:nth-child(2) .ep{    text-indent: -15px;   padding-left: 15px;  margin-top: 2vw;}

  #participation .section05 .contents .flexBox:nth-child(1) .dl {   width: 78.54vw;}
  #participation .section05 .contents .flexBox:nth-child(2) .dl {   width: 40.54vw;}
  #participation .section05 .contents .flexBox:nth-child(3) .dl {   width: 84.54vw;}
  #participation .section05 .contents .flexBox:nth-child(4) .dl { width: 94.54vw;}

  #participation .section07 .contents .privacyBox .oc {
    display: block;
  }

}