/* 폰트 두께 */
.f-w400 { font-weight: 400;}
.f-w500 { font-weight: 500;}
.f-w700 { font-weight: 700;}
/* Flex 박스 */
.flexBox { display: flex;}
/* 정가운데 정렬 */
.c_arr { display: flex; justify-content: center; align-items: center;}
/* 양쪽 끝 정렬 */
.b_arr { display: flex; justify-content: space-between;}
/* Text 정렬 */
.tal { text-align: left;}
.tac { text-align: center;}
.tar { text-align: right;}
/* Background 전체에 맞출때 */
.fbg { background-position: center; background-repeat: no-repeat; background-size: cover;}

/* HEADER */
header { position: fixed; width: 100vw; height: 4.84vw; background-color: #000; padding: 0 3.13vw; overflow: hidden; clear: both; z-index: 9999;}
header .logo { float: left;}
header .logo p { font-size: calc(1.46vw + 0.00px); line-height: 4.84vw;}
.gnb { position: relative; display: flex; float: right;}
.gnb .gnb_menu{ width: 10.34vw;}
.gnb .gnb_menu:nth-child(1), .gnb .gnb_menu:nth-child(4),.gnb .gnb_menu:nth-child(5){width: 8.5vw;}
.gnb .gnb_menu:nth-child(7){ width: 5.8vw;}
.gnb .gnb_menu .gnb_title{ position: relative; line-height: 4.84vw; font-size: 1.04vw; font-weight: 700;}
.gnb .gnb_menu > a span{ position: relative;}
.gnb .gnb_menu ul li{ font-size: 0.83vw;  margin-top: 1.09vw;}
header nav .underBar { display: block;  position: absolute;  top: 4.5vw;left: 0; height: 2px; background-color: #fff; transition: .5s;}

/* FOOTER */
footer { height: 10.89vw ; border-top: 1px solid #717171; padding-top: 4.69vw ; padding-right: 2.60vw ;}
footer p { font-size: 0.73vw ; line-height: 0.99vw ; text-align: right;}
footer .p2 { margin-top: 1.09vw ;}

/* Common */
section {position: relative;min-height: 50.52vw;padding: 0 4.69vw;}
section::after {position: absolute;bottom: 0;content: "";width: 84.38vw ;height: 1px;background-color: #5A5A5A;}
.wrap{ width: 100vw; padding: 4.84vw 3.13vw 3.59vw 3.13vw;}
.scroll { position: absolute; top: 41.09vw ; right: 4.69vw; font-size: 0.94vw ;line-height: 1.35vw ; transform: rotate(90deg);}

/* INDEX(MAIN) */
.mainWrap { padding: 2.4vw 4.69vw 0;}
.mainWrap .p1 { font-weight: 300; font-size: 3.13vw;line-height: 3.65vw;}
.mainWrap .p2 { font-weight: 300; font-size: 4.69vw; line-height: 5.21vw;}
.mainWrap .p3 { font-weight: 300; font-size: 1.82vw; line-height: 2.66vw;}
/* COUNTDOWN */
.mainWrap .countdownBox { height: 18.23vw;}
.mainWrap .countdownBox .inner{  display: flex; align-items: center; height: 100%;}
.mainWrap #timer {   font-size: 3.65vw; font-weight: 400; color: white;}
.mainWrap #timer div { position: relative; display: inline-block; min-width: 4.11vw ; padding-right: 1.98vw; text-align: center;}
.mainWrap #timer div:nth-child(1) { padding-right: 3.85vw;}
.mainWrap #timer div:nth-child(1)::after { position: absolute; top: 40%; right: 1.56vw; transform: translate(-50%,-50%); content: ""; width: 0.05vw; height: 1.41vw ; background-color: #8F8F8F;}
.mainWrap #timer span { color: #fff; display: block; font-size: 0.94vw; font-weight: 300; margin-top: 0.86vw; text-transform: capitalize;}
.mainWrap .flexBox { font-size: 1.15vw; line-height: 1.67vw;}
.mainWrap .flexBox .dl{ width: 8.33vw; margin-bottom: 0.52vw;}
.mainWrap #nftTower { position: absolute; top: 7.24vw ; right: 11.72vw ; width: 14.06vw ;}

/* ABOUT */
#about .p0 {font-size: 1.25vw ;line-height: 1.82vw ;padding-top: 4.90vw ;}
#about.wrap {padding: 4.84vw 3.13vw 0 3.13vw;}

#about .section01{padding-top: 6.25vw; background-image: url("../image/about-bg01.png");background-position-y: -98px; background-size: 1920px 1066px;}
#about .section01 .p1 {font-size: 1.46vw ;line-height: 2.14vw ;color: #787878;} 
#about .section01 .p2 {font-size: 2.08vw ;line-height: 2.34vw ;} 
#about .section01 .p3 {font-size: 2.60vw ;line-height: 3.39vw ;} 
#about .section01 .p4 {font-size: 0.94vw ;line-height: 1.35vw ;margin-top: 0.63vw ;} 
#about .section01 .horLine {display: block;width: 3.65vw ;height: 1px;margin-top: 5.00vw ;margin-bottom: 4.64vw ;background-color: #fff;}

#about .section02 .contents {display: flex;flex-direction: column;align-items: center;text-align: center;margin-top: 4.38vw;}
#about .section02 .contents .p1 {font-size: 1.25vw ;line-height: 2.14vw;}
#about .section02 .contents .p2 {font-size: 2.60vw;line-height: 3.75vw;margin: 1.46vw 0;}
#about .section02 .contents .horLine {display: block;width: 24.38vw;height: 1px;background-color: #888888;}
#about .section02 .contents img {margin: 3.80vw 0;}

#about .section03 .contents {display: flex;flex-direction: column;align-items: center;text-align: center;margin-top: 4vw;}
#about .section03 .contents .flexBox {justify-content: space-between;width: 50.78vw;}
#about .section03 .contents .flexBox .item .imgBox {height: 10vw;}
#about .section03 .contents .flexBox .item .imgBox img {width: 8.44vw;}
#about .section03 .contents .flexBox .item .p1 {display: flex;justify-content: center;align-items: center;width: 11.46vw;height: 3.65vw;font-size: 1.15vw ;line-height: 1.82vw;}
#about .section03 .contents .arrow {margin: 3.65vw 0;}
#about .section03 .contents .p2 {font-size: 1.04vw;line-height: 1.82vw;}
#about .section03 .contents .p3 {font-size: 1.25vw;line-height: 2.14vw;}

#about .section04 .contents {display: flex;flex-direction: column;align-items: center;text-align: center;margin-top: 4.7vw;}
#about .section04 .contents .p1 {font-size: 1.25vw;line-height: 2.14vw ;}
#about .section04 .contents .flexBox {margin-top: 4.48vw ;}
#about .section04 .contents .flexBox .item {margin: 0 1.82vw;}
#about .section04 .contents .flexBox .item .imgBox{width: 20.31vw;}
#about .section04 .contents .flexBox .item .p2{font-size: 1.04vw;line-height: 1.82vw;margin-top: 2.86vw;}

#about .section05 { position: relative;}
#about .section05::after {content:none }
#about .section05 .section05-bg{position: absolute;top: 0;left: -2.86vw ;width: 100vw;height: 100%;}
#about .section05 .contents{display: flex;flex-direction: column;align-items: center;text-align: center;margin-top: 4.90vw;}
#about .section05 .contents .flexBox {text-align: left;margin-left: 18.23vw;}
#about .section05 .contents .flexBox .dl{width: 9.74vw;font-size: 1.15vw;line-height: 1.72vw;margin-bottom: 2.19vw;}
#about .section05 .contents .flexBox .dr{width: 35.05vw;font-size: 1.04vw;line-height: 1.72vw;}
#about .section05 .contents .flexBox .p2{font-size: 0.94vw;line-height: 1.09vw ;color: #9A9A9A;margin-top: 0.3vw;}
#about .section05 .contents .flexBox .p3{font-size: 0.83vw;line-height: 0.98vw ;color: #737373;margin-left: 0.52vw;}
#about .section05 .contents .flexBox .pf{display: flex;}
#about .section05 .contents .flexBox .verLine {display: block;width: 1px;height: 0.78vw;margin: 0 1.04vw;margin-top: 0.63vw;background-color: #7C7C7C;}
#about .section05 .topBtn { position: absolute; right: 0px; bottom: 2.76vw ;}
#about .section05 .topBtn .btn-circle{display: flex;justify-content: center;align-items: center;width: 3.23vw;height: 3.23vw;border-radius: 50%;background-color: #181818;}

/* PROGRAM */
#program .p0 {font-size: 1.25vw ;line-height: 1.82vw ;padding-top: 4.90vw ;}

#program .section01 { padding-top: 15.36vw;}
#program .section01 .title{font-size: 4.17vw;line-height: 6.04vw;}
#program .section01 .p1{font-size: 1.15vw;line-height: 2.29vw;}
#program .section01 .horLine{display: block;width: 3.65vw ;height: 1px;background-color: #fff;margin-top: 1.98vw;}

#program .section02::after { display: none;}
#program .section02 .contents {margin-top: 6.25vw;margin-left: 5.26vw;}
#program .section02 .contents .tabBtnBox{display: flex;}
#program .section02 .contents .tabBtnBox .p01{margin-right: 3.49vw;font-weight: 700;font-size: 1.25vw;line-height: 1.46vw; cursor: pointer;}
#program .section02 .contents .tabBtnBox .tab01.active { color: #C726FF;}
#program .section02 .contents .tabBtnBox .tab02.active { color: #5B8C6D;}
#program .section02 .contents .tabBtnBox .tab03.active { color: #C6268F;}
#program .section02 .contents .tabBtnBox .tab04.active { color: #2863E3;}
#program .section02 .contents .flexBox {margin-top: 2.19vw;}
#program .section02 .contents .flexBox .mediaBox{width: 45.42vw;height: 29.58vw;}
#program .section02 .contents .flexBox .mediaBox .media01{width: 100%;height: 100%;}
#program .section02 .contents .flexBox .textBox {width: 33.18vw;height: 29.53vw;padding-top: 13.91vw;padding-left: 3.49vw;}
#program .section02 .contents .flexBox .textBox .p02{font-weight: 700;font-size: 1.46vw;line-height: 1.72vw;}
#program .section02 .contents .flexBox .textBox .horLine { display: block; width: 2.03vw ;height: 2px ;background-color: #fff;margin-top: 1.25vw;margin-bottom: 2.08vw;margin-left: 0.21vw ;}
#program .section02 .contents .flexBox .textBox .p03{margin-left: 0.26vw;}
#program .section02 .contents .flexBox .textBox .p03 span {display: block; margin-top: 1.46vw;font-size: 0.94vw;line-height: 1.09vw;}

/* VENUE */
/* PROGRAM */
#venue .p0 {font-size: 1.25vw ;line-height: 1.82vw ;padding-top: 4.90vw ;}

#venue .section01 { padding-top: 15.36vw;}
#venue .section01 .title{font-size: 4.17vw;line-height: 6.04vw;}
#venue .section01 .p1{font-size: 1.15vw;line-height: 2.29vw;}
#venue .section01 .horLine{display: block;width: 3.65vw ;height: 1px;background-color: #fff;margin-top: 1.98vw;}
#venue .section01 .mediaBox {margin-top: 1.46vw;}
#venue .section02 .mediaBox {margin-top: 1.46vw;}
#venue .section02 .mediaBox img{width: 100%;}
#venue .section03 .mediaBox {display: flex;justify-content: center;align-items: center;margin-top: 3.28vw;}
#venue .section03 .mediaBox img{width: 57.29vw;}
#venue .section04 .mediaBox {display: flex;justify-content: center;align-items: center;margin-top: 2.60vw;}
#venue .section04::after{ display: none;}
#venue .section04 .mediaBox img{margin-left: 5.31vw;}
#venue .section04 .mediaBox img:nth-child(1){width: 31.82vw;}
#venue .section04 .mediaBox img:nth-child(2){width: 37.55vw;}

/* PARTICIPATION */
#participation .p0 {font-size: 1.25vw ;line-height: 1.82vw ;padding-top: 4.90vw ;}

#participation .section01 { padding-top: 15.36vw;}
#participation .section01 .title{font-size: 4.17vw;line-height: 6.04vw;}
#participation .section01 .p1{font-size: 1.15vw;line-height: 2.29vw;}
#participation .section01 .horLine{display: block;width: 3.65vw ;height: 1px;background-color: #fff;margin-top: 1.98vw;}

#participation .section02 .contentBox {width: 100%;}
#participation .section02 .contentsBox .leftBox{width: 41.67vw ;text-align: center;}
#participation .section02 .contentsBox .leftBox .p1{font-weight: 700;font-size: 2.60vw;line-height: 3.75vw;margin-top: 13.02vw ;}
#participation .section02 .contentsBox .leftBox .p2{font-size: 1.46vw;line-height: 2.14vw;}
#participation .section02 .contentsBox .rightBox .item{margin-bottom: 6.61vw ;}
#participation .section02 .contentsBox .rightBox .p3{font-size: 1.04vw;line-height: 1.51vw;}
#participation .section02 .contentsBox .rightBox .p3 span{font-size: 1.46vw;line-height: 2.14vw;margin-right: 0.94vw;}
#participation .section02 .contentsBox .rightBox .p4{font-weight: 350;font-size: 0.94vw;line-height: 1.93vw;margin-top: 1.04vw;}

#participation .blackLine {position: absolute;top: 108.7vw;display: block;height: 0.26vw;background-color: #000;}
#participation .bL01 {width: 8.8vw;left: 52.5vw;}
#participation .bL02 {width: 10vw;left: 83.8vw;}
#participation .bg01 {position: absolute;top: 88.26vw;left: 13vw;width: 86.29vw;height: 40.8vw;}

#participation .section03 .flexBox {margin-top: 13.13vw;margin-left: 5.21vw;}
#participation .section03 .flexBox .item {width: 18.75vw;margin-left: 1.56vw;}
#participation .section03 .flexBox .item .p1{font-weight: 700;font-size: 1.25vw;line-height: 1.82vw;margin-bottom: 1.82vw;}
#participation .section03 .flexBox .item .p2{font-weight: 350;font-size: 0.94vw;line-height: 1.93vw;}
#participation .section03 .flexBox .item .p2 span{font-size: 0.73vw;color: #9B9B9B;margin-left: 0.83vw;}

#participation .section04 {padding-bottom: 49px;}
#participation .section04 .p1 {font-weight: 700;font-size: 1.46vw;line-height: 2.14vw;margin-top: 1.56vw;}
#participation .section04 .p2 {font-weight: 700;font-size: 3.13vw;line-height: 4.53vw;}
#participation .section04 .p3 {font-weight: 350;font-size: 1.46vw;line-height: 1.93vw;}
#participation .section04 .contents01 {margin-top: 3.96vw;}
#participation .section04 .contents01 .flexBox{margin-top: 1.04vw ;}
#participation .section04 .contents01 .flexBox .dl{width: 5.42vw;font-weight: 500;font-size: 0.94vw;line-height: 1.09vw;}
#participation .section04 .contents01 .flexBox .dr{font-size: 0.94vw;line-height: 1.09vw;}
#participation .section04 .contents01 .flexBox .dr span{font-size: 0.83vw;line-height: 1.46vw;color: #9A9A9A;}

#participation .section04 .contents02 {width: 48.59vw;border: 1px solid #8E8E8E;margin-top: 2.60vw;padding: 1.35vw 0 1.09vw 2.03vw;}
#participation .section04 .contents02 .flexBox {position: relative;}
#participation .section04 .contents02 .flexBox:nth-child(2){margin-top: 2.08vw;}
#participation .section04 .contents02 .flexBox .dl{width: 7.92vw;font-weight: 500;font-size: 0.94vw;line-height: 1.09vw;}
#participation .section04 .contents02 .flexBox .dr{font-size: 0.94vw;line-height: 1.5vw;}
#participation .section04 .contents02 .partiBtnBox {position: absolute;right: 1.88vw;bottom: 0;display: flex;justify-content: center;align-items: center;width: 11.61vw;height: 2.86vw;background-color: #FCAC06; cursor: pointer;}
#participation .section04 .contents02 .partiBtn {font-weight: 700;font-size: 1.35vw;line-height: 1.56vw;}
#participation .section04 .nftTower {position: absolute;right: 11.13vw;bottom:0.6vw; text-align: center;}
#participation .section04 .nftTower img { width: 17.03vw;height: 43.02vw;}
#participation .section04 .nftTower .p4{font-size: 0.73vw;line-height: 0.83vw;margin-top: 0.83vw;padding-left: 1.56vw;}
#participation .section04 .towerTxt {position: absolute;right: 4.69vw;bottom:3.44vw; width: 4.55vw;height:41.25vw;}

#participation .section05::after {display: none;}
#participation .section05 .contents{margin-top: 4.43vw;margin-left: 5.21vw;}
#participation .section05 .contents .gradeBox {width: 16.77vw;}
#participation .section05 .contents .gradeBox .p1{position: relative;width: 7.81vw; height: 4vw;font-weight: 700;font-size: 1.46vw;margin-bottom: 0.69px; line-height: 2.14vw;color: #767676; cursor: pointer;}
#participation .section05 .contents .gradeBox .p1 span{display: none;position: absolute;left: 0;bottom: 0.45vw;font-weight: 400;font-size: 1.04vw;line-height: 1.51vw;}
#participation .section05 .contents .gradeBox .p1.active span{display:block;}
#participation .section05 .contents .gradeBox .pla.active, #participation .section05 .contents .gradeBox .pla span {color : red;}
#participation .section05 .contents .gradeBox .pre.active, #participation .section05 .contents .gradeBox .pre span {color : yellow;}
#participation .section05 .contents .gradeBox .gol.active, #participation .section05 .contents .gradeBox .gol span {color : green;}
#participation .section05 .contents .gradeBox .sil.active, #participation .section05 .contents .gradeBox .sil span {color : blue;}
#participation .section05 .contents .flexBox {margin-bottom: 2.24vw;}
#participation .section05 .contents .flexBox .dl{width: 7.81vw;font-weight: 500;font-size: 1.15vw;line-height: 1.67vw;}
#participation .section05 .contents .flexBox .dr p{font-weight: 350;font-size: 0.94vw;line-height: 1.93vw;color: #565656;}

#participation .secArrowBox {display: flex;justify-content: center;align-items: center;width: 100%;height: 17.34vw;}
#participation .secArrow{width: 1.72vw;height: 0.83vw;}

#participation .section06 .title {font-size: 3.13vw;line-height: 4.53vw;}
#participation .section06 .contents {margin-top: 4.53vw;padding-left: 5.42vw;}
#participation .section06 .contents .redStar{color: #FF0000;margin-left: 0.52vw;}
#participation .section06 .contents .flexBox{flex-wrap: wrap;}
#participation .section06 .contents .flexBox .item{width: 30.57vw;border-bottom: 1px solid #A5A5A5;margin-right: 4.06vw;margin-bottom: 2.97vw;}
#participation .section06 .contents .p01{font-size: 1.25vw;line-height: 1.93vw;}
#participation .section06 .contents .flexBox .item input{width: 100%;height: 3.39vw;font-size: 1.04vw;line-height: 1.93vw;background-color: transparent;border: none;outline: none;}
#participation .section06 .contents .flexBox .item input::placeholder{color: #595959;}
#participation .section06 .contents .a01{font-size: 1.04vw;line-height: 1.93vw;color: #595959;margin-left: 0.78vw;}
#participation .section06 .contents .a01:hover{color:rgb(160, 160, 160);}
#participation .section06 .contents .gradeBox{display: flex;margin-top: 1.56vw;}
#participation .section06 .contents .gradeBox .inputBox + .inputBox{position: relative;margin-left: 2.29vw;}
#participation .section06 .contents .gradeBox input{display: none;}
#participation .section06 .contents .gradeBox label{position: relative;width: 7.55vw; font-size: 1.25vw;line-height: 1.93vw;margin-left: 1.04vw;padding-left: 2.08vw;}
#participation .section06 .contents .gradeBox label .fakeRadio{position: absolute;top: 50%;left: 0.26vw;transform: translate(-50%, -50%);width: 1.56vw;height: 1.56vw;border-radius: 50%;background-color: #fff;}
#participation .section06 .contents .gradeBox .inputBox input:checked + label .fakeRadio{background-color: #FF0000;}
#participation .section06 .contents .gradeBox label::before{content: "";position: absolute;top: 50%;left: 0.26vw;transform: translate(-50%, -50%);width: 1.35vw;height: 1.35vw;border-radius: 50%;background-color: black;z-index: 2;}
#participation .section06 .contents .gradeBox .inputBox input:checked + label::after {content: "";position: absolute;top: 50%;left: 0.27vw;transform: translate(-50%, -50%);width: 0.63vw;height: 0.63vw;border-radius: 50%;background-color: #FF0000;z-index: 3;}
#participation .section06 .contents .flexBox02 {display: flex;margin-top: 1.56vw ;}
#participation .section06 .contents .flexBox02 .dl {width: 8.02vw;font-size: 1.25vw;line-height: 3.28vw;}
#participation .section06 .contents .flexBox02 .dr .inputBox {position: relative;width: 59.22vw;height: 3.28vw;}
#participation .section06 .contents .flexBox02 .dr .inputBox input{opacity: 0;width: 100%;height: 100%;border: 1px solid #A5A5A5;}
#participation .section06 .contents .flexBox02 .dr .inputBox .fakeBox{position: absolute;top: 0;left: 0;width: 100%;height: 100%;border: 1px solid #A5A5A5;}
#participation .section06 .contents .flexBox02 .dr .inputBox .fakeBox .p02{display: flex;justify-content: center;align-items: center;position: absolute;width: 6.77vw;height: 100%;font-size: 0.94vw;line-height: 1.93vw;background-color: #2B2B2B;}
#participation .section06 .contents .flexBox02 .dr .p03{font-size: 0.83vw;line-height: 1.93vw;color: #A0A0A0;margin-top: 0.26vw;}
#participation .section06 .contents .flexBox02 .dr textarea{width: 59.22vw;height: 16.41vw;border: 1px solid #A5A5A5;background-color: transparent;padding: 1.641vw 1.56vw;font-size: 1.04vw;line-height: 1.93vw;}
#participation .section06 .contents .flexBox02 .dr textarea::placeholder{color: #595959;}
#participation .section06 .contents .privacyBox {margin-top: 1.82vw;}
#participation .section06 .contents .privacyBox input{display: none;}
#participation .section06 .contents .privacyBox label{position: relative;}
#participation .section06 .contents .privacyBox label::before{position: absolute;top: 56%;right: -3.49vw;transform: translate(-50%,-50%);content: "";width: 1.46vw;height: 1.46vw;border-radius: 50%;border: 2px solid #636363;}
#participation .section06 .contents .privacyBox input:checked + label::before{border: 2px solid #FF0000;}
#participation .section06 .contents .privacyBox label::after{content: '\2714';position: absolute;top: 50%;right: -2.60vw;transform: translate(-50%,-50%);font-size: 1.04vw;}
#participation .section06 .contents .privacyBox input:checked + label::after{content: '\2714';position: absolute;top: 50%;right: -2.60vw;transform: translate(-50%,-50%);font-size: 1.04vw;color: #FF0000;}
#participation .section06 .contents .btnBox {display: flex;justify-content: center;align-items: center;width: 75.52vw;margin-top: 2.76vw;padding-bottom: 9.90vw;}
#participation .section06 .contents .btnBox button{cursor: pointer; width: 35.00vw;height: 4.17vw;background-color: transparent; color: #FCAC06; border: 1px solid #FCAC06; font-weight: 700;font-size: 1.46vw;line-height: 1.93vw;}
#participation .section06 .contents .btnBox button:hover {background: #FCAC06;color: #fff;}

#participation .section07::after {display: none;}
#participation .section07 .title {font-size: 3.13vw;line-height: 4.53vw; margin-top: 9.06vw;}
#participation .section07 .contents {margin-top: 4.53vw;padding-left: 5.42vw;}
#participation .section07 .contents .redStar{color: #FF0000;margin-left: 0.52vw;}
#participation .section07 .contents .flexBox{flex-wrap: wrap;}
#participation .section07 .contents .flexBox .item{width: 30.57vw;border-bottom: 1px solid #A5A5A5;margin-right: 4.06vw;margin-bottom: 2.97vw;}
#participation .section07 .contents .p01{font-size: 1.25vw;line-height: 1.93vw;}
#participation .section07 .contents .flexBox .item input{width: 100%;height: 3.39vw;font-size: 1.04vw;line-height: 1.93vw;background-color: transparent;border: none;outline: none;}
#participation .section07 .contents .flexBox .item input::placeholder{color: #595959;}
#participation .section07 .contents .a01{font-size: 1.04vw;line-height: 1.93vw;color: #595959;margin-left: 0.78vw;}
#participation .section07 .contents .a01:hover{color:rgb(160, 160, 160);}
#participation .section07 .contents .flexBox02 {display: flex;margin-top: 1.56vw;}
#participation .section07 .contents .flexBox02 .dl {width: 8.02vw;font-size: 1.25vw;line-height: 3.28vw;}
#participation .section07 .contents .flexBox02 .dr .inputBox {position: relative;width: 59.22vw;height: 3.28vw;}
#participation .section07 .contents .flexBox02 .dr .inputBox input{opacity: 0;width: 100%;height: 100%;border: 1px solid #A5A5A5;}
#participation .section07 .contents .flexBox02 .dr .inputBox .fakeBox{position: absolute;top: 0;left: 0;width: 100%;height: 100%;border: 1px solid #A5A5A5;}
#participation .section07 .contents .flexBox02 .dr .inputBox .fakeBox .p02{display: flex;justify-content: center;align-items: center;position: absolute;width: 6.77vw;height: 100%;font-size: 0.94vw;line-height: 1.93vw;background-color: #2B2B2B;}
#participation .section07 .contents .flexBox02 .dr .p03{font-size: 0.83vw;line-height: 1.93vw;color: #A0A0A0;margin-top: 0.26vw;}
#participation .section07 .contents .flexBox02 .dr textarea{width: 59.22vw;height: 16.41vw;border: 1px solid #A5A5A5;background-color: transparent;padding: 1.641vw 1.56vw;font-size: 1.04vw;line-height: 1.93vw;}
#participation .section07 .contents .flexBox02 .dr textarea::placeholder{color: #595959;}
#participation .section07 .contents .privacyBox {margin-top: 1.82vw;}
#participation .section07 .contents .privacyBox input{display: none;}
#participation .section07 .contents .privacyBox label{position: relative;}
#participation .section07 .contents .privacyBox label::before{position: absolute;top: 56%;right: -3.49vw;transform: translate(-50%,-50%);content: "";width: 1.46vw;height: 1.46vw;border-radius: 50%;border: 2px solid #636363;}
#participation .section07 .contents .privacyBox input:checked + label::before{border: 2px solid #FF0000;}
#participation .section07 .contents .privacyBox label::after{content: '\2714';position: absolute;top: 50%;right: -2.60vw;transform: translate(-50%,-50%);font-size: 1.04vw;}
#participation .section07 .contents .privacyBox input:checked + label::after{content: '\2714';position: absolute;top: 50%;right: -2.60vw;transform: translate(-50%,-50%);font-size: 1.04vw;color: #FF0000;}
#participation .section07 .contents .btnBox {display: flex;justify-content: center;align-items: center;width: 75.52vw;margin-top: 2.76vw;padding-bottom: 6.9vw;}
#participation .section07 .contents .btnBox button{cursor: pointer; width: 35.00vw;height: 4.17vw;background: transparent;  border: 1px solid #FCAC06; color:#FCAC06;font-weight: 700;font-size: 1.46vw;line-height: 1.93vw;}
#participation .section07 .contents .btnBox button:hover {background: #FCAC06;color: #fff;}
